<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="demo" connectionString="user id=sa;password=Ucayali123;data source=200.60.50.66;initial catalog=SHIOL_DATOS"/>-->
    <!--<add name="demo" connectionString="user id=sa;password=server$123;data source=192.168.1.5;initial catalog=DB_WARIQUE"/>-->
    <!--<add name="demo" connectionString="user id=sa;password=server$123;data source=192.168.1.54;initial catalog=SHIOL_DATOS_DESARROLLO"/>-->
    <!--<add name="demo" connectionString="user id=sa;password=M0untain13;data source=190.41.23.200,1400;initial catalog=SHIOL_DATOS"/>-->
     <!--<add name="demo" connectionString="user id=sa;password=M0untain13;data source=192.168.0.12;initial catalog=SHIOL_DATOS"/>-->
   
    <add name="Coneccion1" connectionString="user id=sa;password=server$123;data source=PC-NIK;initial catalog=SHIOL_DATOS_mlp"/>
    <add name="Coneccion2" connectionString="user id=sa;password=server$123;data source=PC-NIK;initial catalog=SHIOL_DATOS"/>
    <add name="Coneccion3" connectionString="user id=sa;password=M0untain13;data source=192.168.0.12;initial catalog=Shiol_Datos"/>
    <add name="Coneccion4" connectionString="user id=sa;password=Prince1;data source=190.12.66.235;initial catalog=SHIOL_DATOS"/>
    <add name="Coneccion5" connectionString=""/>
    <add name="Coneccion6" connectionString=""/>
    <add name="Coneccion7" connectionString=""/>
    <add name="Coneccion8" connectionString=""/>
    <add name="Coneccion9" connectionString=""/>
    <add name="Coneccion10" connectionString=""/>
  </connectionStrings>
  <appSettings>

    
    <add key="last_user" value=""/>
    <add key="empresaId" value=""/>
    <add key="sucursalId" value=""/>
    <add key="periodo" value=""/>
    <!--<add key="server" value="192.168.0.12"/>-->
    <!--<add key="server" value="192.168.1.54"/>-->
    <!--<add key="server" value="192.168.0.12"/>-->
    <add key="server" value="EQUIPO1"/>
    <!--<add key="server" value="FOYER"/>-->
    <add key="bd" value="SHIOL_DATOS_mlp"/>
    <add key="user" value="sa"/>
    <!--<add key="password" value="M0untain13"/>-->
    <add key="password" value="server$123"/>
    <!--<add key="password" value="server$123"/>-->
    <add key="maxRecordsEmpresa" value="25"/>
    <add key="PRA_MonedaId" value="1"/>
    <add key="PRA_TipoConversionId" value="111"/>
    <!--<add key="rucEmpresa" value="20303368877"/>-->
    <add key="rucEmpresa" value="20491153696"/>
    <add key="cadenaconexion" value="demo" />

    <add key="NombreHotel1" value="SHIOL_DATOS_MLP" />    
    <add key="NombreHotel2" value="SHIOL_DATOS" />
    <add key="NombreHotel3" value="mlp" />
    <add key="NombreHotel4" value="BTH" />
    <add key="NombreHotel5" value="" />
    <add key="NombreHotel6" value="" />
    <add key="NombreHotel7" value="demo7" />
    <add key="NombreHotel8" value="demo8" />
    <add key="NombreHotel9" value="demo9" />
    <add key="NombreHotel10" value="demo10" />




    

    <add key="PG_ModuloHabilitado" value="68"/>
    <add key="PG_CodigoConcesionario" value="4000"/>
    <add key="Ruta_Interfaz_SunatVentas" value="D:\PLE"/>
    <add key="Ruta_Interfaz_SunatCompras" value="D:\PLE"/>
    <add key="Ruta_Interfaz_SunatLibroDiario" value="D:\PLE"/>
    <add key="Ruta_Interfaz_SunatLibroMayor" value="D:\PLE"/>
    <add key="Ruta_Interfaz_LapVentas" value="D:\PLE"/>
    <add key="Ruta_Interfaz_ContaSisVentas" value="D:\PLE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
